/* Estilos apartado de noticias */

.noticias
{
	max-height: 480px;
	display: inline-block;


}

img
{
    height: auto;
	max-width: 100%
}

#nivel1
{
	display: inline-block;
	min-height: 290px;
	min-width:  390px;
	margin: 3px;
}

#nivel2
{
	display: inline-block;
	min-height: 390px;
	min-width: 190px;
	margin: 4px;
}

#nivel3
{
	display: inline-block;
	height: 200px;
	width: 190px;
	margin: 4px;
}

#nivel4
{
	display: inline-block;
	height: 200px;
	width: 390px;
	margin: 4px;
}

.informacion
{
	background-color: #555;
	display: inline-block;
	max-height: 260px;
	border: solid black;
}
